{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            {% if productsCart|length != 0 %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th class="text-center">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for productCart in productsCart %}
                    <tr>
                        <td class="col-sm-7 col-md-5">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ productCart.name }}</a></h4>
                            </div>
                        </div></td>
                        <td class="col-sm-2 col-md-2">{{ productCart.price }} &euro;</td>
                        <td class="col-sm-1 col-md-1 text-center">{{ cart[productCart.id] }}</td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ productCart.price * cart[productCart.id] }} &euro;</strong></td>
                    </tr>
                    {% set total = total + (productCart.price * cart[productCart.id]) %}
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{ total }} &euro;</strong></h3></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-danger" type="button" href="{{ path('deleteSession') }}">
                            Vider le panier <span class="glyphicon glyphicon-play"></span>
                        </a></td>
                    </tr>
                </tbody>
            </table>
            {% else %}
                <h1 align="center">Votre panier est vide</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}