{% extends 'base.html.twig' %}

{% block title %}Fiche Produit{% endblock %}

{% block body %}
<div class="row pt-5">
    <div class="col-md-12" align="center">
        <div class="col-item">
            <div class="photo">
                <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
            </div>
            <div>
                <div>
                    <h5><b>{{ product.name }}</b></h5>
                    <h5>{{ product.description }}</h5>
                    <h5>{{ product.price }} &euro;</h5>
                </div>
                {{ form_start(form) }}
                <div>
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown(); console.log('blabla');" class="btn-danger">-</button>
                    {{ form_row(form.quantity) }}
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-success">+</button>
                </div>
                </div>
                <div class="separator clear-left">
                    {{ form_row(form.addCart) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}