{% extends 'base.html.twig' %}

{% block title %}Fiche Produit{% endblock %}

{% block body %}
<div class="row pt-5">
    <div class="col-md-12" align="center">
        <div class="col-item">
            <div class="photo">
                <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
            </div>
            <div>
                <div>
                    <h5><b>{{ product.name }}</b></h5>
                    <h5>{{ product.description }}</h5>
                    <h5><b>Prix</b> : {{ product.price }} &euro;</h5>
                    <h5><b>Type</b> : {{ product.typeProduct }}</h5>
                </div>
                {{ form_start(form) }}
                <div class="form-group row justify-content-center">
                    <div class="col-md-2">
                    {{ form_widget(form.quantity, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                </div>
                <div class="separator clear-left">
                    {{ form_widget(form.addCart, { 'attr': {'class': 'btn btn-success'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}